<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.YOUR_CLIENT_ID</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>YOUR_CLIENT_ID.apps.googleusercontent.com</string>
	<key>SupabaseUrl</key>
	<string>YOUR_SUPABASE_URL</string>
	<key>SupabaseAnonKey</key>
	<string>YOUR_SUPABASE_ANON_KEY</string>
</dict>
</plist> 